/**
 * vars
 */
$text:        #e4e4e4;
$background:  #141422;
$header_height: 76px;
$footer_height:  0px; 


/**
 * globals
 */
body {
  margin: 0;
}
a {
  color: $text;
}


/**
 * responsive
 */
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}
